# Backup files
**/*~

# Pytest cache
.cache

# Python detritus
**/__pycache__
**/*.pyc

# Build/run artifacts
**/*.vtk
**/*.log
**/*.output
**/SESSION.NAME
**/xxt_map.rea
**/*.tmp

# TeX detritus
**/*.log
**/*.aux
**/*.pdf

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
gslib_test
nekcem

# Configure artifacts for tests
tests/*/src
tests/*/Makefile
