body {
	background-color: #FFF;
	margin-top: 0px;
	background-image: url(../images/bckgrnd.jpg);
	background-repeat: repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
}
pre {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px;
background-color:#eee;
text-align:left;

}

.codetext {
font-family: Times, serif; 
font-size: 14px;
font-color: #CC0000;

}

.table{ 
	width: 550px; 
	margin: 15px 0px; 
}
.table td{ 
	padding: 5px 5px 5px 0;
	background: url("/images/graphics/dots.gif") repeat-x bottom left; 
	font-size: 11px; 
	font-family: Verdana;
}
.table th{ 
	font-size: 13px; 
	text-align: left;
	font-family: Verdana;
}

.table td a{ 
	color: #CC6600;
}

#container {
	background-color: #FFFFFF;
	margin: 2px auto;
	width: 850px;
	font-size: 10px;
	font-weight: normal;
}

/* Logo */


#mastheadwrap {clear:both; background: #fff; padding-top: 1px; height: 140px;}
#header {
	background-color: #FFF;
	background-image: url(../images/graphics/h_bckgrnd.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 169px;
}


h1 {
	margin: 0px;
	font-size: 17px;
	font-weight: bold;
	color: #152897;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 0px;
	font-family:"Trebuchet MS", Arial, sans-serif;
	text-transform:uppercase;
	
}
h2 {
	margin: 0px;
	font-size: 14px;
	color: #333333;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	text-transform:uppercase;
	font-weight: normal;
	
}
h3 {
	margin: 0px;
	font-size: 13px;
	font-weight: normal;
	color: #1A3613;
	letter-spacing: .5px;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}
h4 {
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}

body#about .overview,
body#home .home,
body#downloads .downloads,
body#docs .docs,
{
	text-decoration:none;
	font-size: 12.5px;
	color: #666;
	margin:0;
	padding: 4px 0 1px 9px;
	background-image: url(../images/graphics/carat.gif);
	background-repeat:no-repeat;
	background-position: left center;
}

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #CC6600;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #CC6600;
	text-decoration: underline;
}


a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #CC6600;
	text-decoration: none;
}
/*a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #999900;
	text-decoration: underline;
}*/

#footer{
	clear: both;
	background-color: #FFF;
	padding: 10px;
	border-top: #ddd 1px solid;
	margin:30px 40px;
}

 #footer a{
	color:#999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size:9px;
}
	
#col {
	float:left; 
	width:170px; 
	margin:0; 
	padding:0; 
	background:#fff;
	}


#navbottom{
	background-color:#FFFFFF;

    }
	
	
	
#content {
	width: 840px;
	margin: 40px 5px 0px 5px;
	padding: 10px 0px 0px 0px;
	color: #333;
	background-color: #FFF;
}

/************* main centercontent ************/
#pagename {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 15px;
	background-color: #999999;
	height: 70px;
}

#pagename h3{
	color: #FFF;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 40px;
	margin-left: -10px;
	letter-spacing: 2px;
}

#content .breadcrumb a {
	color: #800000;
	text-decoration: none;
	}
	

#center {
	padding: 0px 0px 0px 0px;
	margin: 35px 260px 30px 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#center p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	padding: 0px 20px 0px 0px;
	margin: 0px 0px 8px 0px;
}


#center ul{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
}

#center li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	list-style:circle;
	margin: 10px 10px 10px 35px;
}

#full_center {
	padding: 0px 0px 0px 0px;
	margin: 35px 50px 30px 50px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#full_center p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	padding: 0px 50px 0px 0px;
	margin: 0px 0px 8px 0px;
}


#full_center li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	list-style:circle;
	margin: 5px 10px 5px 5px;
}

#full_center dl{
	font-family:"Trebuchet MS", Arial, sans-serif;
	font-size: 15px;
	line-height: 17px;
	margin: 10px 15px 5px 5px;
	color: #555;
}

#full_center dt{
	font-size: 12px;
	line-height: 18px;
	margin: 5px 10px 5px 10px;
	color: #777;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: .5px;
}

#full_center dd{
	font-size: 12px;
	line-height: 18px;
	margin: 5px 10px 5px 10px;
	color: #444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#full_center dd a{
	font-size: 12px;
	line-height: 18px;
	margin: 5px 10px 5px 10px;
	color: #408F31;
}

#full_center dd a:hover{
	text-decoration: underline;
}

.boldtext{
	font-size: 12px;
	font-weight: bold;
	color:#999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title{
	text-align: left;
	font-size: 12px;
	line-height: 14px;
	color: #444;
	font-weight: bold;
	
}

/************* right side w/ some xtra styles 4 it ************/

#right {
	float: right;
	width: 200px;
	color: #FFF;
	margin: 30px 25px 0px 5px;
/*	border: 1px #ddd solid;
	background-color: #FCFAFA;*/
	padding: 5px;
	 clear: right;
	/* border: 1px solid #ccc;*/
	
}
#right_side {
  margin: 35px 15px 20px 20px;
  float: right;
  width: 160px;
  background-color: #fff;
}
#right h3 {
	margin: 0px;
	font-size: 14px;
	font-weight: normal;
	color: #666;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-family: "Gill Sans", Helvetica, sans-serif;
	
}
#right h4 {
	margin: 0px;
	font-size: 11px;
	font-weight: bold;
	font-style:italic;
	color: #666;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	font-family: "Gill Sans", Helvetica, sans-serif;
	
}
#right p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #333333;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 8px 0px;
}
#right a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #CC6600;
	text-decoration: none;
}
#right a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #CC6600;
	text-decoration: none;
}
 #right a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #999900;
	text-decoration: underline;
}

.featurebox_side {
  background-color: #FCFCFA;
  margin:15px;

  padding:5px;
  border: 1px solid #C8D6B4;
  color: #333333;
  text-align: center;
}


/************* MENU ************/

#nav {
font-family: Arial, Helvetica, sans-serif;
	width: 90%;
	font-size: 11px;
	font-weight: normal;
	margin: 20px 10px 10px 40px;
	padding: 0px 0px 0px 0px;
	background-color: #FFFFFF;
}

#nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: left;
	letter-spacing: 1px;
}

#nav li {
	display: inline;
}

#nav a {
font-size: 12px;
	padding-right: 6px;
	padding-left: 6px;
	text-transform: lowercase;
	text-decoration: none;
	color: #333333;
}

#nav a:hover {
	background-color: #666;
	color: #FFFFFF;
}

.clear {
	clear: both;
}


/************* home page boxes ************/

#mainbox {
	/*padding:0 0 0 11px;*/
	margin:0px;
	background-color: #e5ebf9;
	width: 750px;

	
}
	
.image {
	float: left;
	margin: 0;
	padding: 5px 20px 20px 5px;
	background-color: #e5ebf9;
}


.mission {
	margin:0;
	padding: 65px 0px 15px 35px;
	font-size: 17px;
	color: #475b81;
	font-family: Arial, Helvetica, sans-serif;
	
	
}


#boxes{
width:750px;
margin:0px;
}
#rightbox{
	width:320px;
	float:right;
	clear:left;
	margin:15px 10px;
	padding-right:20px;
	z-index:auto;
	}
	
#rightbox p{
	font-size: 12px;
	color:#000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding:5px 0px 0px 0px;
	margin-left:5px;
}
#rightbox h1{
	font-size: 14px;
	color:#000;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 40px;
	font-weight: normal;
}

#leftbox {
	float: left;
	margin:15px 10px;
	padding: 0 0px 0px 25px;
	text-align:left;
	width: 320px;
	
}
#leftbox h1{
	font-size: 14px;
	color:#000;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 40px;
	font-weight: normal;
	
}
#leftbox a{
	font-size: 15px;
	color:#000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding:0px 0px;
	margin:0px;
}
#leftbox p{
	font-size: 12px;
	color:#000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding:5px 0px 0px 0px;
	margin-left:5px;
}
